.git*
**/*@tmp
**/README.rst
**/CHANGELOG.rst
docker-compose.yml
Jenkinsfile
.DS_Store
**/node_modules
**/coverage
**/.coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pytest_cache/
**/*.pyc
**/.vscode
.vagrant
*.code-workspace
*.bak

server/media/*